* {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3eceb;
}

.wrapper {
  margin: 93px auto 0;
  width: 1026px;
  height: 573px;
}

.wrapper > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;

  margin-bottom: 60px;
  line-height: 58px;
}

@media (max-width: 1060px) {
  .wrapper {
    width: 95%;
  }
}
